<br>
<h1>{{used}} calories taken today</h1>
<h1>{{total}} calories left</h1>

<h1>{{fatsUsed}} fats taken today</h1>
<h1>{{fatsTotal}} fats left</h1>

<h1>{{proteinsTotal}} proteins taken today</h1>
<h1>{{proteinsUsed}} proteins left</h1>

<h1>{{carbohydratesTotal}} carbohydrates taken today</h1>
<h1>{{carbohydratesUsed}} carbohydrates left</h1>
<div style="padding-left: 25px;">
        <input type="number" id="weight-field" class="roll" min="0" [(ngModel)]="weight"/>
        <br>
        <button (click)="updateWeight()">Update weight</button>
</div>